@use '../../theme/utils/mixins';

.autocomplete {
  & .input {
    background-color: var(--color-low);
    padding: mixins.spacing(2);
    display: flex;
    column-gap: mixins.spacing(1);
    & input {
      flex: 1;
      border: none;
      color: var(--color-high);
      font-family: var(--body-font);
      font-weight: bold;
      background: none;
      &:focus {
        outline: none;
      }
    }
  }
  & .dropdown {
    display: flex;
    background-color: var(--color-low);
    flex-direction: column;
    height: 360px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: none;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--color-medium);
      &:hover {
        background: var(--color-high);
      }
    }
  }
}

.light .autocomplete {
  & > .input {
    background: none;
    box-shadow: var(--drop-shadow);
  }
  & .dropdown {
    background: none;
    box-shadow: var(--drop-shadow);
  }
}
