.list-item {
  display: flex;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
  height: 72px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    .subtitle {
      font-size: 0.8rem;
      color: var(--color-medium);
    }
  }
  &:hover {
    background-color: var(--color-low);
    cursor: pointer;
  }
}
