$emphasis: (
  "low": 18%,
  "medium": 50%,
  "high": 87%,
);

$breakpoints: (
  "xs": 0px,
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
  "xl": 1920px,
);

$heading-sizes: 3rem, 2.5rem, 2rem, 1.5rem, 1rem, 0.8rem;
